html,body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#central-body{
    margin: auto;
    width: 60vw;
}

.header-imgs{
    width: calc(100vw - 10px);
}

.header-img{
    width: calc(100% / 8);
}

.header-img-break{
    width: 50px;
}

header{
    width: calc(100% - 2px);
    font-size: 24px;
    background-color: #008080;
    padding: 10px 0;
    color: black;
    border: black 1px solid;
}

#header{
    width: 60%;
    margin: auto;
    padding: 0;
}

.center{
    justify-content:center;
    align-items: center;
    text-align: justify;
    margin: auto;
}

#schedule-table{
    width: fit-content;
    margin: auto;
}

.flex-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
}

.flex-row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.panelist-info-row-1{
    width: 30%;
    text-align: center;
    justify-content: space-evenly;
}

.panelist-info-row-2{
    width: 45%;
    text-align: center;
    justify-content: space-evenly;    
}

a { 
    text-decoration: none;
} 

.bio-img{
    width: 200px;
    height: 200px;
}

footer{
    height: 10px;
}

@media (max-width: 480px) {
    #central-body{
        width: calc(100vw - 10px);
        margin: 5px;
    }

    .header-imgs{
        display: flex;
        flex-direction: row!important;
    }

    .flex-row{
        flex-direction: column;
    }

    .panelist-info-row-1 {
        width: 80%;
    }

    .panelist-info-row-2{
        width: 80%;
    }
}